* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Consolas, sans-serif;
}

.normal {
    padding: 10px;
}

.warning {
    padding: 10px;
    border: 1px solid red;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}